name: Run Pytest on Dev Branch Push

on:
  push:
    branches:
      - dev
  pull_request:
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - os: windows-latest
            python-version: "3.13"
            python_utf8: "1"
          - os: macos-latest
            python-version: "3.13"
          - os: windows-11-arm
            python-version: "3.13"
            python_utf8: "1"
          - os: macos-15-intel
            python-version: "3.13"
          - os: windows-latest
            python-version: "3.14"
            python_utf8: "1"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[all] pytest nuitka

      - name: Run pytest
        env:
          PYTHONUTF8: ${{ matrix.python_utf8 || '0' }}  
        run: pytest
